<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
</head>
<body>
    <form id="signup" method="POST">
        <input type="text" placeholder="Username" name="username" required />
        <i class="fas fa-user iEmail"></i>
        <input type="password" placeholder="Password" name="password" required />
        <i class="fas fa-lock iPassword"></i>
        <input type="password" placeholder="Password" name="confirmpassword" required />
        <i class="fas fa-lock iPassword2"></i>
        <input type="password" name="code" id="">
        <button type="submit">Sign up</button>
      </form>
    </div>
</body>
</html>